#container {
    position: relative;
    margin: 0 auto;
    max-width: 75%;
}

h1, p {
    text-align: center;
}

#jumbo {
    background-color: black;
    color: white;
}

#add-train-btn {
    background-color: black;
    font-weight: 700;
}
.card-header {
    background-color: gray;
    color: white;
    font-weight: 700;
}

.card-body {
    font-weight: 700;
}

tr {
    font-weight: 700;
}
